table {
	width: 80%;
	text-align: center;
}
tr.mat-footer-row, tr.mat-row {
	height: 34px;
}
td.mat-cell, th.mat-header-cell {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-bottom-color: #000000;
}
th.mat-header-cell {
	text-align: center;
	color: #000000;
}
.vendor-t {
	display: flex;
	justify-content: space-between;
	width: 80%;
}
.mat-cell {
	font-weight: bold;
}