<div class="logo-container">
	<img src="./assets/nestle-7-226281.png" alt="">
</div>
<div class="main-btns">
	<input hidden  type='file' #btn accept=".xlsx" (change)="uploadConfigFile($event)">
	<button
		mat-raised-button
		color="primary"
		(click)="btn.click()"
	>Import Config File</button>
	
	<div class="btns">
		<button
			mat-raised-button
			[routerLink]="['vt']"
			color="primary"
			>Vendors Transfert
		</button>

		<button
			mat-raised-button
			[routerLink]="['vs']"
			color="primary"
			>Vendors Sales
		</button>

		<button
			mat-raised-button
			color="primary"
			[routerLink]="['stock']"
		>Vendors Stock
		</button>

		<button
			mat-raised-button
			color="primary"
			[routerLink]="['trade-transactions']"
		>Trade Transactions
		</button>

		<button
			mat-raised-button
			color="primary"
			[routerLink]="['new-vendors-inventory']"
		>Vendors Inventory
		</button>

		<button
			mat-raised-button
			[routerLink]="['payment']"
			color="primary"
			>Payment
		</button>
		<button
			mat-raised-button
			color="primary"
			[routerLink]="['new-invoices']"
			>Invoice
		</button>
	</div>
</div>
v 1.0.2