<div class="logo-container">
	<img src="./assets/nestle-7-226281.png" alt="">
</div>
<div class="main-btns">
	<input hidden  type='file' #btn accept=".xlsx" (change)="uploadConfigFile($event)">
	<button
		mat-raised-button
		color="primary"
		(click)="btn.click()"
	>Import Config File</button>
	
	<button
		mat-raised-button
		color="primary"
		[routerLink]="['vendors-transfert']"
	>Vendors Transfert
	</button>
	
	<button
		mat-raised-button
		color="primary"
		[routerLink]="['vendors-sales']"
	>Vendors Sales
	</button>
	
	<button
		mat-raised-button
		color="primary"
		[routerLink]="['vendors-stock']"
	>Vendors Stock
	</button>

	<button
		mat-raised-button
		color="primary"
		[routerLink]="['trade-transactions']"
	>Trade Transactions
	</button> 

</div>