<h4>Vendeur: {{ metaData.salesman }}</h4>
<h4>Date début: {{ metaData.fromDate }}</h4>
<h4>Date fin: {{ metaData.dateTo }}</h4>
<h4>Couverture: {{ visitedClients.length }} / {{ metaData.clientNumber }}<span>({{percentage}} %)</span></h4>

<div class="tab-wrapper">
	<div *ngIf="visitedClients.length" class="visited">
		<h3>Clients Facturés: {{ visitedClients.length }}</h3>
		<table mat-table [dataSource]="visitedClients" class="mat-elevation-z8">
			<!-- codeClient Column -->
			<ng-container matColumnDef="codeClient">
				<th mat-header-cell *matHeaderCellDef> codeClient </th>
				<td mat-cell *matCellDef="let element"> {{element.customerId}} </td>
			</ng-container>
			<!-- NomClient Column -->
			<ng-container matColumnDef="NomClient">
				<th mat-header-cell *matHeaderCellDef> NomClient  </th>
				<td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
			</ng-container>
			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>
	</div>

	<div *ngIf="notVisitedClients.length" class="not-visited">
		<h3>Clients pas Encore Facturés: {{ notVisitedClients.length }}</h3>
		<table mat-table [dataSource]="notVisitedClients" class="mat-elevation-z8">
			<!-- codeClient Column -->
			<ng-container matColumnDef="codeClient">
				<th mat-header-cell *matHeaderCellDef> codeClient </th>
				<td mat-cell *matCellDef="let element"> {{element.customerId}} </td>
			</ng-container>
				
			<!-- NomClient Column -->
			<ng-container matColumnDef="NomClient">
				<th mat-header-cell *matHeaderCellDef> NomClient  </th>
				<td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
			</ng-container>
				
			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>
	</div>
</div>

