.mat-form-field {
	width: 300px;
}
.group-sales {
	width: 230px;
}

.vs-verify {
	margin: 0 10px;
}

.vs-buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.vs-import {
	display: flex;
	flex-direction: column;
	margin-right: 10px;
	button {
		margin: 2%;
	}
}

button {
	width: 300px;
}

.import-config {
	position: absolute;
	right: 10px;
}